<form class="example-form"  [formGroup]="form" (ngSubmit)="agregar()" >

    <div class="container cont_id">

        <mat-form-field class="example-full-width cont_id_input ">
        <mat-label>Number</mat-label>
        <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
        >
    
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.no_inventario }} 
            </mat-option>
        </mat-autocomplete>
        </mat-form-field>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row">

                    <div class="col-md-6 col-lg-3 ">
                        <div class="form-floating mb-3">
                            <input formControlName="color" type="text" class="form-control" id="floatingInput_color">
                            <label for="floatingInput_color">Color</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="form-floating mb-3">
                            <input formControlName="marca" type="text" class="form-control" id="floatingInput_marca">
                            <label for="floatingInput_marca">Marca</label>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <div class="form-floating mb-3">
                            <input formControlName="asignado" type="text" class="form-control" id="floatingInput_asignado" >
                            <label for="floatingInput_asignado">Asignado</label>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
        
    <div class="container container_revision">


        <div class="accordion accordion-flush " id="accordionFlushExample">

        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Luces
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <table class="table">
                    
                    <thead>
                        <tr>
                            <th ></th>
                            <th ></th>

                        </tr>
                    </thead>
                        
                    <tbody>
                        @for (item of detallesRevision; track $index) {
                            <tr>
                                <td>
                                    {{ item.subcategoria }}
                                </td>
                                <td>
                                    <button type="button" (click)="valorEstado(item)" class="btb btn-success" >+</button>
                                    {{ item.estado }}
                                </td>
                            </tr> 
                        
                    }
                    </tbody>

                </table>   

            </div>
        </div>
        </div>

        </div>

        <div class="accordion accordion-flush" id="accordionAsientos">

        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne2">
                Asientos
            </button>
        </h2>
        <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionAsientos">
            <div class="accordion-body">

                <table class="table">
                    
                    <thead>
                        <tr>
                            <th ></th>
                            <th ></th>
                            <th ></th>

                        </tr>
                    </thead>
                    <tbody  >

                    </tbody>

                </table>   

            </div>
        </div>
        </div>

        </div>

        <div class="accordion accordion-flush" id="accordionVidrios">

        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne3">
                Vidrios
            </button>
        </h2>
        <div id="flush-collapseOne3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionVidrios">
            <div class="accordion-body">

                <table class="table">
                    
                    <thead>
                        <tr>
                            <th ></th>
                            <th ></th>
                            <th ></th>

                        </tr>
                    </thead>
                    <tbody  >

                    </tbody>

                </table>   

            </div>
        </div>
        </div>

        </div>

        <div class="accordion accordion-flush" id="accordionEspejos">

        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne4" aria-expanded="false" aria-controls="flush-collapseOne4">
                Espejos
            </button>
        </h2>
        <div id="flush-collapseOne4" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionEspejos">
            <div class="accordion-body">

                <table class="table">
                    
                    <thead>
                        <tr>
                            <th ></th>
                            <th ></th>
                            <th ></th>

                        </tr>
                    </thead>
                    <tbody  >

                    </tbody>

                </table>   

            </div>
        </div>
        </div>

        </div>

        <button class="btn btn-primary" >Agregar</button>  
    </div>

</form>

